---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ storage_class }}-xfs
provisioner: cstor.csi.openebs.io
allowVolumeExpansion: true
parameters:
  cas-type: cstor
  replicaCount: "{{ replica_count }}"
  cstorPoolCluster: {{ cspc }}
  fsType: xfs