---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ storage_class }}
  annotations:
    openebs.io/cas-type: cstor
provisioner: openebs-csi.openebs.io
allowVolumeExpansion: true
parameters:
  cas-type: cstor
  cstorPoolCluster: {{ cspc }}
  replicaCount: "{{ replica_count }}"
