---
apiVersion: batch/v1
kind: Job
metadata:
  name: cstor-spc-upgrade
  namespace: {{ operator_ns }}
spec:
  backoffLimit: 4
  template:
    spec:
      serviceAccountName: service_account
      containers:
      - name: upgrade
        args:
        - "cstor-spc"
        - "--from-version={{ old_version }}"
        - "--to-version={{ new_version }}"
        - "--to-version-image-prefix=openebs/"
        - "--v=4"
        env:
        - name: OPENEBS_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        tty: true
        image: openebs/m-upgrade:{{ image_tag }}
      restartPolicy: OnFailure
---
