---
apiVersion: batch/v1
kind: Job
metadata:
  name: jiva-volume-upgrade
  namespace: {{ operator_ns }}
spec:
  backoffLimit: 4
  template:
    spec:
      serviceAccountName: service_account
      containers:
      - name: upgrade
        args: 
        - "jiva-volume"
        - "--from-version={{ old_version }}"
        - "--to-version={{ new_version }}"
        - "--v=4"
        env:
        - name: OPENEBS_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        tty: true 
        image: openebs/m-upgrade:{{ image_tag }}
      restartPolicy: OnFailure
---
