---
apiVersion: batch/v1
kind: Job
  name: cstor-cspc-upgrade
  namespace: {{ operator_ns }}
spec:
  backoffLimit: 4
  template:
    spec:
      serviceAccountName: service_account
      containers:
      - name: upgrade
        args:
        - "cstor-cspc"
        - "--from-version={{ old_version }}"
        - "--to-version={{ new_version }}"
        - "--v=4"
        # DO NOT CHANGE BELOW PARAMETERS
        env:
        - name: OPENEBS_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        tty: true
        image: "{{ upgrade_image_tag }}"
        imagePullPolicy: IfNotPresent
      restartPolicy: OnFailure
---

