---
apiVersion: batch/v1
kind: Job
metadata:
  name: cstor-csi-volume-upgrade
  namespace: {{ operator_ns }}
spec:
  backoffLimit: 4
  template:
    spec:
      serviceAccountName: service_account
      containers:
      - name: upgrade
        args:
        - "cstor-volume"
        - "--from-version={{ from_version }}"
        - "--to-version={{ to_version}}"
        - "--v=4"
        env:
        - name: OPENEBS_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        tty: true
        image: "{{ upgrade_image_tag }}"
        imagePullPolicy: IfNotPresent
      restartPolicy: OnFailure
---

