{
 "spec": {
  "template": {
    "spec": {
     "containers": [
      {
       "name": "cstor-csi-plugin",
       "env": [
        {
           "name": "REMOUNT",
           "value": "true"
        }
       ]
      }
     ]
    }
  }
 }
}
