    - nodeSelector:
        kubernetes.io/hostname: {{ item[0] }}
      poolConfig:
        cacheFile: ""
        defaultRaidGroupType: pool-type
        overProvisioning: false
        compression: "off"
      raidGroups:
      - type: pool-type
        isWriteCache: false
        isSpare: false
        isReadCache: false
        blockDevices:
